@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 375px) {
  .navbar {
    padding: 0;
  }
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
  padding: 40px 80px 0px 80px;
  position: relative;
  z-index: 2; /* Add this */
}
.navbar-ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 36px;
}
.navbar-li {
  cursor: pointer;
  font-family: "PP Fraktion Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;

  text-transform: uppercase;
  color: white;
}
.navbar-li-button {
  font-family: "PP Fraktion Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  padding: 10px;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  color: #ffffff;
}

header {
  height: 100vh;
}
.bg {
  background-image: url(/src//assets/bg.png);
}
.header-blackshade {
  height: 150px;
  background: linear-gradient(180deg, #0e0e0e 0%, rgba(11, 11, 11, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; /* Add this */
}
.header-main {
  gap: 20px;
}
.header-toit {
  font-family: "TT Trailers";
  font-style: normal;
  font-weight: 800;
  font-size: 190px;
  line-height: 173px;

  text-align: center;

  color: #efeddd;
}
.header-beer {
  font-family: "TT Trailers";
  font-style: normal;
  font-weight: 800;
  font-size: 250px;
  line-height: 153px;
  /* or 273px */

  text-align: center;

  color: #f1f1f1;
}

.menu-image1 {
  /* position: absolute; */
  width: 33.3%;
  height: 627px;
  background: url(/src/assets/image1.png), #83152d;
  mix-blend-mode: luminosity;
}

.menu-image1 h2 {
  margin-bottom: 20px;
  font-family: "TT Trailers";
  font-style: normal;
  font-weight: 700;
  font-size: 150px;
  line-height: 98.19%;
  /* or 147px */
  letter-spacing: 0.005em;
  text-transform: uppercase;
  color: #ffffff;
}

.menu-image1 p {
  font-family: "PP Fraktion Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 98.19%;
  color: #ffffff;
}

.menu-image2 {
  /* position: absolute; */
  width: 33.3%;
  height: 627px;
  background: url(/src/assets/image2.png), #83152d;
  mix-blend-mode: luminosity;
}

.menu-image2 h2 {
  margin-bottom: 20px;
  font-family: "TT Trailers";
  font-style: normal;
  font-weight: 700;
  font-size: 150px;
  line-height: 98.19%;
  /* or 147px */
  letter-spacing: 0.005em;
  text-transform: uppercase;
  color: #ffffff;
}

.menu-image2 p {
  font-family: "PP Fraktion Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
}

.menu-image3 {
  /* position: absolute; */
  width: 33.3%;
  height: 627px;
  background: url(/src/assets/image3.png), #83152d;
  mix-blend-mode: luminosity;
}

.menu-image3 h2 {
  margin-bottom: 20px;
  font-family: "TT Trailers";
  font-style: normal;
  font-weight: 700;
  font-size: 150px;
  line-height: 98.19%;
  /* or 147px */
  letter-spacing: 0.005em;
  text-transform: uppercase;
  color: #ffffff;
}

.menu-image3 p {
  font-family: "PP Fraktion Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 98.19%;
  color: #ffffff;
}

.about {
}
.about-image {
  margin-left: 350px;
}
.about-h1 {
  font-family: "PP Fraktion Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 150px;
  line-height: 98.19%;
  /* or 98px */
  z-index: 1;
  text-transform: uppercase;

  /* color: #FFFFFF; */

  transform: rotate(0.31deg);
}
.about-section {
  position: relative;
  background-color: #0e0e0e;
}

#about-section {
  position: relative;
}

.about-section:after {
  content: "";
  display: block;
  height: 150px;
  background: linear-gradient(180deg, #0e0e0e 0%, rgba(11, 11, 11, 0) 100%);
  position: absolute;
  bottom: 0; /* Change top to bottom */
  left: 0;
  right: 0;
  transform: rotate(180deg);
}

#about-section .about-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background: url(/src/assets/aboutbg.png);
  background-size: cover;
  background-position: center;
  mix-blend-mode: color-dodge;
  opacity: 0.2;
}

.about-explore {
  font-family: "PP Fraktion Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  text-transform: uppercase;

  color: #ca9e67;
}

.footer {
  position: relative;
  background-color: #0e0e0e;
  height: 100vh;
}

.footer-li {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  color: #dc9696;
}
.footer-image {
  position: absolute;
  top: 250px;
  bottom: 0;
  width: 100%;
}
.shop {
  height: 100vh;
}
.shop-h1 {
  font-family: "PP Fraktion Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 98.19%;
  /* or 98px */

  text-transform: uppercase;

  color: #ffffff;
}

.shop-p {
  font-family: "PP Fraktion Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 139.69%;
  /* or 34px */

  color: #f0f0f0;
  /* margin-top: 20px; */
}

.image4 {
  width: 33.3%;
  height: 430px;
  background: url(/src/assets/4.png), #83152d;
  mix-blend-mode: luminosity;
}
.image5 {
  width: 33.3%;
  height: 430px;
  background: url(/src/assets/5.png), #83152d;
  mix-blend-mode: luminosity;
}
.image6 {
  width: 33.3%;
  height: 430px;
  background: url(/src/assets/6.png), #83152d;
  mix-blend-mode: luminosity;
}
.image7 {
  width: 33.3%;
  height: 430px;
  background: url(/src/assets/7.png), #83152d;
  mix-blend-mode: luminosity;
}

.quote {
  background-image: url(./src/assets/place.png);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  background: #0e0e0e;
}

.quote-p {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 98.19%;
  /* or 24px */

  color: #adadad;
}
.quote-h1 {
  font-family: "TT Trailers";
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 98.19%;
  /* or 98px */

  text-align: center;
  text-transform: uppercase;
  color: white;
  /* border: 2px solid #ffffff; */
}
.quote-h12 {
  font-family: "TT Trailers";
  font-style: normal;
  font-weight: 900;
  font-size: 350px;
  line-height: 98.19%;
  /* or 344px */

  text-align: center;
  text-transform: uppercase;

  color: #ca9e67;
}
